* {
    box-sizing: border-box;
    margin: 0;
  }
  .LOGO {
    position: absolute;
    left: 50px;
    bottom: 480px;
  }
  #LOGO{
    height: 120px;
    width: 380px;
    border-radius: 30px;
}

  header {
    background: linear-gradient(to left, #800000 26%, #ffff99 114%);
    width: 100%;
    height: 50px;
  }
body {
    background-image: linear-gradient(to left, #990033 0%, #ffcc00 100%);
    padding-top: 100px;
}
a {
    text-decoration: none;
    color: saddlebrown;
}
a:hover {
    color: yellow;
}
/*for "Home" inside Nav*/
.nav {
    color: white;
    background-color: black;
    border-right: 5px dotted pink;
    border-left: 5px dotted pink;
    width: 140px;
    height: 30px;
    text-align: center;
    float: left;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 3px;
}
/*Hover effect inside Nav. "The Links" */
#hov:hover {
    background: linear-gradient(to bottom, #993366 10%, #ff0066 91%);
    border-radius: 30px;
    color: #fff04a;
    border: unset;
    text-shadow: 1px 2px;
    transition: .5s ease; /* to low start effect */
}

nav {
    background-color: #e39f9f;
    padding: 13px 0px 5px 50px;
    font-size: 20px;
    width: 871px;
    height: 61px;
    left: 448px;
    box-shadow: 10px 10px 6px black;
    position: absolute;
    top: 90px;
    border-style:outset;
    border-color: gray;
    border-radius: 25px; 
    padding-right: 50px;
    padding-left: 50px;   
}
/* positioning couple wedding image */
.Home {
    position: absolute;
    top: 100px;
    z-index: -1;
 }
 /* couple wedding image for size of the image */
 #Image{
     width: 1349px;
     height: 525px;
 }
 .About_Us {
    width: 1000px;
    height: 300px;
    background-color: #e39f9f;
    color: aliceblue;
    border-radius: 30px;
    position: absolute;
    top: 200px;
    left: 180px;
    padding: 20px 20px 20px 30px;
    font-size: larger;
 }
 .bcake{
    float: right;
    height: 243px;
    width: auto;
 }
 .cake {
    float: right;
    position: absolute;
    top: 225px;
    right: 200px;
    border: black 2px solid;
 }
 .shopp{
    float: right;
    height: 50px;
    width: auto;
 }
 .Location {
    float: left;
    position: absolute;
    top: 415px;
    left: 230px;
 }
 .Address {
    float: left;
    position: absolute;
    top: 230px;
    left: 120px;
    color: blanchedalmond;
 }
 .copyright {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    color: purple;
    background: linear-gradient(to left, #990033 0%, #ffcc00 100%);
    position: absolute;
    width: 1349px;
    top: 580px;
}
.dropbtn {
    color: saddlebrown;
    background-image: linear-gradient(to right, #ccffcc, #ff99cc);
    text-decoration: none;
    width: 136px;
    height: 30px;
    text-align: center;
    padding: 5px 10px 23px 10px;
    font-size: medium;
  }
  .dropbtn:hover {
    background: linear-gradient(to bottom, #993366 10%, #ff0066 91%);
    border-radius: 30px;
    color: #fff04a;
    border: unset;
    text-shadow: 1px 2px;
    transition: .5s ease; /* to low start effect */
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    border: none;
    display: none;
    position: absolute;
    background-image: linear-gradient(to right, #ccffcc, #ff99cc);
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background: linear-gradient(to bottom, #993366 10%, #ff0066 91%);
    color: #fff04a;
    border: unset;
    text-shadow: 1px 2px;
    transition: .5s ease; /* to low start effect */
    }
  
  .dropdown:hover .dropdown-content {
    display: block;
    }