* {
    box-sizing: border-box;
    margin: 0;
  }
  .LOGO {
    position: absolute;
    left: 50px;
    bottom: 480px;
  }
  #LOGO{
    height: 120px;
    width: 380px;
    border-radius: 30px;
}

  header {
    background-color: #660033;
    width: 100%;
    height: 50px;
  }
body {
    background-image: linear-gradient(to right, #ccffcc, #ff99cc);
    padding-top: 100px;
}
a {
    text-decoration: none;
    color: saddlebrown;
}
a:hover {
    color: yellow;
}
/*for "Home" inside Nav*/
.nav {
    color: white;
    background-color: black;
    border-right: 5px dotted pink;
    border-left: 5px dotted pink;
    width: 140px;
    height: 30px;
    text-align: center;
    float: left;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 3px;
}

/*Hover effect inside Nav. "The Links" */
#hov:hover {
    background: linear-gradient(to bottom, #993366 10%, #ff0066 91%);
    border-radius: 30px;
    color: #fff04a;
    border: unset;
    text-shadow: 1px 2px;
    transition: .5s ease; /* to low start effect */
}

nav {
    background-color: #e39f9f;
    padding: 13px 0px 5px 50px;
    font-size: 20px;
    width: 871px;
    height: 61px;
    left: 448px;
    box-shadow: 10px 10px 6px black;
    position: absolute;
    top: 90px;
    border-style:outset;
    border-color: gray;
    border-radius: 25px; 
    padding-right: 50px;
    padding-left: 50px;
}
/* positioning couple wedding image */
.Home {
    position: absolute;
    top: 100px;
    z-index: -1;
 }
 /* couple wedding image for size of the image */
 #Image{
     width: 1349px;
     height: 558px;
 }
 /* The 3 column */
.container {
    opacity: 0.5;
    padding: 8px 80px 0px 80px;
}
.container:hover {
    opacity: 1;
}
 .column-left { 
    float: left; 
    width: 33.333%;
    padding: 45px 50px 0px 105px;
    height: 500px;  
 }

 .column-right { 
    float: right; 
    width: 33.333%; 
    padding: 45px 50px 0px 105px;
    height: 500px;  
}

 .column-center { 
    display: inline-block; 
    width: 33.333%;
    padding: 45px 50px 0px 105px;
    height: 500px;
}
.column-left:hover {
    background: linear-gradient(to bottom right, #ffcc99 0%, #ff0066 100%);
    transition: .5s ease;
}
.column-right:hover {
    background: linear-gradient(to bottom right, #ffcc99 0%, #ff0066 100%);
    transition: .5s ease;
}
.column-center:hover {
    background: linear-gradient(to bottom right, #ffcc99 0%, #ff0066 100%);
    transition: .5s ease;
}
/* set sizes of the image inside 3 columns */
#pics {
    width: 200px;
    height: 200px;
}
#pics:hover {
    width: 200px;
    height: 200px;
    padding: 3px 3px 3px 3px;
    background-color: orange;
    transform: scale(1.3);  /* zooms */
    transition: .3s ease;
    
}
.hover {
    position: static; /* bring in-front image when being hover */
    display: inline-block;
    
  }
  .hover .span {
    visibility: hidden;
    width: 130px;
    background-color: orange;
    color: red;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    font-size: 20px;
    font-weight: bold;
  }
  .hover:hover .span {
    visibility: visible; /* for the "span" visibility */       
  }
    .container {
    border-style: none;
    }
    .Container {
    background-image: linear-gradient(to right, #ccffcc, #ff99cc);
    padding: 10px;
    text-align: left;
    color: white;
    padding: 0px 510px 0px 550px;
  }

/* sites share */
.sharelinks1 {
    opacity: 0.5;
    margin-left: 275px;
    top: 670px;
    position: absolute;
    size: 50px;
    padding: 20px;
    border: 0;
    box-shadow: 0;
}
.sharelinks1:hover {
    transition: .5s ease;
    top: 660px;
    opacity: 1;
    background: linear-gradient(to bottom left, #ff6699 0%, #6666ff 100%);
    border-radius: 80px;
}

.sharelinks2 {
    opacity: 0.5;
    margin-left: 390px;
    top: 670px;
    position: absolute;
    size: 50px;
    padding: 20px;
    border: 0;
    box-shadow: 0;
}
.sharelinks2:hover {
    transition: .5s ease;
    top: 660px;
    opacity: 1;
    background: linear-gradient(to bottom left, #ff6699 0%, #6666ff 100%);
    border-radius: 80px;
}
.sharelinks3 {
    opacity: 0.5;
    margin-left: 510px;
    top: 670px;
    position: absolute;
    size: 50px;
    padding: 20px;
    border: 0;
    box-shadow: 0;
}
.sharelinks3:hover {
    transition: .5s ease;
    top: 660px;
    opacity: 1;
    background: linear-gradient(to bottom left, #ff6699 0%, #6666ff 100%);
    border-radius: 80px;
}
.sharelinks4 {
    opacity: 0.5;
    margin-left: 630px;
    top: 670px;
    position: absolute;
    size: 50px;
    padding: 20px;
    border: 0;
    box-shadow: 0;
}
.sharelinks4:hover {
    transition: .5s ease;
    top: 660px;
    opacity: 1;
    background: linear-gradient(to bottom left, #ff6699 0%, #6666ff 100%);
    border-radius: 80px;
}
.sharelinks5 {
    opacity: 0.5;
    margin-left: 750px;
    top: 670px;
    position: absolute;
    size: 50px;
    padding: 20px;
    border: 0;
    box-shadow: 0;
}
.sharelinks5:hover {
    transition: .5s ease;
    top: 660px;
    opacity: 1;
    background: linear-gradient(to bottom left, #ff6699 0%, #6666ff 100%);
    border-radius: 80px;
}
.sharelinks6 {
    opacity: 0.5;
    margin-left: 865px;
    top: 670px;
    position: absolute;
    size: 50px;
    padding: 20px;
    border: 0;
    box-shadow: 0;
}
.sharelinks6:hover {
    transition: .5s ease;
    top: 660px;
    opacity: 1;
    background: linear-gradient(to bottom left, #ff6699 0%, #6666ff 100%);
    border-radius: 80px;
}
.sharelinks7 {
    opacity: 0.5;
    margin-left: 975px;
    top: 670px;
    position: absolute;
    size: 50px;
    padding: 20px;
    border: 0;
    box-shadow: 0;
}
.sharelinks7:hover {
    transition: .5s ease;
    top: 660px;
    opacity: 1;
    background: linear-gradient(to bottom left, #ff6699 0%, #6666ff 100%);
    border-radius: 80px;
}
.copyright {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    color: purple;
    position: absolute;
    width: 1349px;
    top: 770px;
}
.dropbtn {
    color: saddlebrown;
    background-image: linear-gradient(to right, #ccffcc, #ff99cc);
    text-decoration: none;
    width: 136px;
    height: 30px;
    text-align: center;
    padding: 5px 10px 23px 10px;
    font-size: medium;
  }
  .dropbtn:hover {
    background: linear-gradient(to bottom, #993366 10%, #ff0066 91%);
    border-radius: 30px;
    color: #fff04a;
    border: unset;
    text-shadow: 1px 2px;
    transition: .5s ease; /* to low start effect */
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    border: none;
    display: none;
    position: absolute;
    background-image: linear-gradient(to right, #ccffcc, #ff99cc);
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background: linear-gradient(to bottom, #993366 10%, #ff0066 91%);
    color: #fff04a;
    border: unset;
    text-shadow: 1px 2px;
    transition: .5s ease; /* to low start effect */
    }
  
  .dropdown:hover .dropdown-content {
    display: block;
    }