* {
  box-sizing: border-box;
  margin: 0;
}
.LOGO {
  position: absolute;
  left: 50px;
  bottom: 480px;
}
#LOGO{
  height: 120px;
  width: 380px;
  border-radius: 30px;
}

header {
  background: linear-gradient(to left, #ff9999 0%, #ccff99 100%);
  width: 100%;
  height: 50px;
}
body {
  background: linear-gradient(to left, #ff00ff 0%, #ff0066 100%);
  padding-top: 100px;
}
a {
  text-decoration: none;
  color: saddlebrown;
}
a:hover {
  color: yellow;
}
/*for "Home" inside Nav*/
.nav {
  color: white;
  background-color: black;
  border-right: 5px dotted pink;
  border-left: 5px dotted pink;
  width: 140px;
  height: 30px;
  text-align: center;
  float: left;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 3px;
}
/*for "About" inside Nav*/

/*Hover effect inside Nav. "The Links" */
#hov:hover {
  background: linear-gradient(to bottom, #993366 10%, #ff0066 91%);
  border-radius: 30px;
  color: #fff04a;
  border: unset;
  text-shadow: 1px 2px;
  transition: .5s ease; /* to low start effect */
}

nav {
background: linear-gradient(to bottom, #d9d9d9 0%, #404040 100%);
padding: 13px 0px 5px 50px;
font-size: 20px;
width: 871px;
height: 61px;
left: 448px;
box-shadow: 10px 10px 6px black;
position: absolute;
top: 90px;
border-style:outset;
border-color: gray;
border-radius: 25px; 
padding-right: 50px;
padding-left: 50px;   
}
/* positioning couple wedding image */
.Home {
  position: absolute;
  top: 100px;
  z-index: -1;
}
/* couple wedding image for size of the image */
#Image{
   width: 1349px;
   height: 555px;
}
/* The 3 column */
.container {
  padding: 8px 80px 0px 80px;
}
.container:hover {
  opacity: 1;
}
.column-left { 
  float: left; 
  width: 33.333%;
  padding: 45px 50px 0px 105px;
  height: 920px;  
}

.column-right { 
  float: right; 
  width: 33.333%; 
  padding: 45px 50px 0px 105px;
  height: 920px; 
}

.column-center { 
  display: inline-block; 
  width: 33.333%;
  padding: 45px 50px 0px 105px;
  height: 920px;
}
.column-left:hover {
background: linear-gradient(to bottom, #d9d9d9 0%, #404040 100%);
transition: .5s ease;
}
.column-right:hover {
background: linear-gradient(to bottom, #d9d9d9 0%, #404040 100%);
  transition: .5s ease;
}
.column-center:hover {
background: linear-gradient(to bottom, #d9d9d9 0%, #404040 100%);
  transition: .5s ease;
}
/* set sizes of the image inside 3 columns */
#pics {
  width: 200px;
  height: 200px;
  
}
#pics:hover {
  width: 200px;
  height: 200px;
  padding: 3px 3px 3px 3px;
  background: linear-gradient(to left, #ff9999 0%, #ccff99 100%);
  transform: scale(1.3);  /* zooms */
  transition: .3s ease;
  
}
.hover {
  position: static; /* bring in-front image when being hover */
  display: inline-block;
  
}
.hover .span {
  visibility: hidden;
  width: 130px;
  background: linear-gradient(to left, #ff9999 0%, #ccff99 100%);
  color: steelblue;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  font-size: 20px;
  font-weight: bold;
}
.hover:hover .span {
  visibility: visible; /* for the "span" visibility */       
}
.container {
  border-style: none;
}
p {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  color: purple;
}
.dropbtn {
  color: saddlebrown;
  background: linear-gradient(to left, #ff9999 0%, #ccff99 100%);
  text-decoration: none;
  width: 136px;
  height: 30px;
  text-align: center;
  padding: 5px 10px 23px 10px;
  font-size: medium;
}
.dropbtn:hover {
  background: linear-gradient(to bottom, #993366 10%, #ff0066 91%);
  border-radius: 30px;
  color: #fff04a;
  border: unset;
  text-shadow: 1px 2px;
  transition: .5s ease; /* to low start effect */
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  border: none;
  display: none;
  position: absolute;
  background-image: linear-gradient(to right, #ccffcc, #ff99cc);
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background: linear-gradient(to bottom, #993366 10%, #ff0066 91%);
  color: #fff04a;
  border: unset;
  text-shadow: 1px 2px;
  transition: .5s ease; /* to low start effect */
  }

.dropdown:hover .dropdown-content {
  display: block;
}